@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@font-face {
    font-family: "foundation-icons";
    src: url("fonts/foundation-icons.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    position: fixed;
    margin: 0 auto;
    padding-top: 10px;
    width: 100vw;
    background-color: gray;
    overflow: hidden;
}

.search-wrapper {
    text-align: center;
}

.search-input-label:before {
    font-family: 'foundation-icons';
    content: "\f16c";
    position: relative;
    font-size: 2em;
    left: 2.4rem;
    top: 0.4rem;
}

.search-input {
    font-family: 'Roboto', 'Comfortaa', 'Lobster';
    font-size: 1.2rem;
    width: 50%;
    background-size: auto 90%;
    background-color: white;
    border: 2px double rgba(255, 0, 0, 0.5);
    border-radius: 10px;
    padding: 6px 6px 6px 2.5em;
}

ul {
    --clips-per-page: 4;
    --clip-width: calc(100vw/var(--clips-per-page));
    --clip-height: calc(var(--clip-width)*1.2);
    padding-inline-start: 0;
    margin-block-end: 0;
    display: grid;
    grid-template-columns: repeat(var(--count-clips), var(--clip-width));
    /* width: calc(var(--clip-width)*8); */
    width: 100vw;
    overflow-x: auto;
    margin-top: 20px;
    padding-bottom: 5px;
    cursor: pointer;
    transition: all 0.2s;
    transform: scale(1);
    will-change: transform;
    user-select: none;
}

ul.active {
    cursor: grabbing;
    transform: scale(1.02);
}

ul.smooth {
    scroll-behavior: smooth;
}

ul::-webkit-scrollbar {
    width: 0;
}

ul li {
    list-style-type: none;
    height: var(--clip-height);
    width: var(--clip-width);
}

li .container {
    height: 100%;
    width: 90%;
    background-color: white;
    border-radius: 10px;
    border: 2px double rgba(255, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.img-wrapper, .data-wrapper, .description {
    height: calc(100%/3);
    padding: 3%;
}

.img-wrapper {
    position: relative;
}

.link-wrapper {
    background-color: rgba(255, 0, 0, 0.7);
    border-radius: 10px;
    position: absolute;
    width: 94%;
    top: calc(100%/3);
    text-align: center;
}

.link-wrapper a {
    font-family: 'Lobster', 'Roboto', 'Comfortaa';
    text-decoration: none;
    color: black;
}

.link-wrapper a:hover {
    font-weight: bold;
    text-decoration: underline;
}

.img-wrapper img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.data-wrapper {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 0.4fr 1.6fr;
    text-align: center;
    align-items: center;
    font-family: 'Roboto', 'Lobster', 'Comfortaa';
    font-weight: bold;
    font-size: 1.1em;
    word-break: break-all;
}

.description {
    font-family: 'Comfortaa', 'Roboto', 'Lobster';
    font-size: 0.8rem;
    word-break: break-all;
}

.data-wrapper_ico {
    text-align: right;
    font-family: 'foundation-icons';
    font-size: 1.5rem;
}

.button-wrapper {
    width: 100vw;
    text-align: center;
}

.btn {
    margin: 10px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: white;
    border-color: rgba(255, 0, 0, 0.5);
    padding: 17px;
}

@media (max-width:1024px) {
    ul {
        --clips-per-page: 3
    }
}

@media (max-width:768px) {
    ul {
        --clips-per-page: 2
    }
}

@media (max-width:480px) {
    ul {
        --clips-per-page: 1
    }
}